@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Home */
#home {
  display: block;
}

/* Header section */
.header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  padding-bottom: 20px;
  display: flex;
  margin: 0 auto;
  z-index: 20000;
}
.innernavbar {
  margin: auto;
  width: 1300px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-radius: 0 0 20px 20px;
  background-color: white;
}
#logo {
  margin: 10px;
}
#logo > img {
  height: 100px;
  width: 150px;
}
.navbar_section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 50%;
  font-size: 20px;
}
.navbar_text {
  cursor: pointer;
}
.navbar_text > a {
  text-decoration: none;
  color: black;
}
.navbar_text > a:hover {
  color: rgb(44, 75, 255);
  text-decoration: underline;
  text-underline-position: 20px;
}
.login_singup {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin-right: 40px;
}
.login_singup > button:nth-child(2) {
  margin-left: 40px;
}
#Login_btn {
  border: none;
  background: none;
  font-size: 20px;
  color: rgb(44, 75, 255);
  cursor: pointer;
}
#Login_btn:hover {
  text-decoration: underline;
  text-underline-position: below;
}
#SingUp_btn {
  background: rgb(44, 75, 255);
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#SingUp_btn:hover {
  background: rgb(3, 31, 186);
}

/* Main section */
.Section_Container {
  width: 100%;
  margin-top: 30px;
}

/* First Mid Section */
.Top_Section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.mid_section-1 {
  width: 50%;
}
.mid_section-1 > h1 {
  font-size: 45px;
}
.mid_section-1 > p {
  font-size: 22px;
  line-height: 40px;
}
#mid_first_btn {
  background: rgb(44, 75, 255);
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
#mid_first_btn:hover {
  background: rgb(3, 31, 186);
}
#mid_Second_btn {
  background: none;
  color: rgb(44, 75, 255);
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(44, 75, 255);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.mid_section-2 {
  width: 50%;
}
.mid_section-2 > img {
  width: 100%;
}

/* Brand section */
.Brand_Section {
  width: 100%;
  margin: 40px auto 40px auto;
  padding-top: 30px;
}
.Brand_Container {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
#huckberry > img {
  width: 150px;
  opacity: 0.5;
}
#food52 > img {
  width: 150px;
  opacity: 0.5;
}
#the_sill > img {
  width: 150px;
  opacity: 0.5;
}
#Burrow > img {
  width: 150px;
  opacity: 0.5;
}
#happysocks > img {
  width: 150px;
  opacity: 0.5;
}
#DressUp > img {
  width: 150px;
  opacity: 0.5;
}
.mid_para {
  width: 40%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}
.mid_para > h1 {
  font-size: 40px;
}
.mid_para > p {
  font-size: 20px;
  line-height: 40px;
}
#mid_img {
  margin-bottom: 20px;
}

/* Home Section */
.Home_section {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 150px;
  gap: 30px;
}
#content {
  width: 45%;
  margin: auto;
}
#content > #content_heading {
  font-size: 18px;
  font-weight: 600;
  color: rgb(44, 75, 255);
}
#content > h2 {
  font-size: 35px;
}
#content > p {
  font-size: 18px;
  line-height: 40px;
}
#learn_btn {
  background: none;
  color: rgb(44, 75, 255);
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(44, 75, 255);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
#Home_section_img {
  width: 45%;
  margin: auto;
}
#Home_section_img > img {
  width: 100%;
}

/* 4. CELEBRATE Sliding Part */

.celebrate {
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  margin: auto;
  margin-top: 200px;
}
.Section_Para_Heading {
  width: 25%;
  margin: auto;
}
.Section_Para_Heading > p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(44, 75, 255);
}
.Section_Para_Heading > h2 {
  font-size: 35px;
}
.sliding {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.sliding_content {
  /* border: 1px solid red; */
  width: 33%;
  text-align: center;
  height: 400px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 30px -1px;
  border-radius: 10px;
  margin-left: 20px;
}
.sliding_box_img > img {
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  margin: auto;
  justify-content: center;
  bottom: 70px;
  overflow-x: visible;
  position: relative;
}
.sliding_box_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 60px;
  margin: 0 40px 0 40px;
}
.sliding_box_content > p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.sliding_box_content > img {
  width: 100px;
  margin: auto;
  opacity: 0.5;
}
.sliding_box_content > h3 {
  font-size: 1rem;
}
.pageyear {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.pageBox {
  text-align: center;
}
.pageBox > h1 {
  font-size: 50px;
  color: rgb(44, 75, 255);
  margin: 0;
}
.pageBox > p {
  position: relative;
  top: 0;
  font-size: 18px;
  margin: 0;
}
.helpCenter {
  margin-top: 80px;
  padding-bottom: 80px;
}
.helpContainer {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.help-Box-Container-1 {
  margin: auto;
}
.help-Box-Container-2 {
  /* width: 40%; */
  /* margin: auto; */
}
.help-Box-Container-2 > h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.help-Box-Container-2 > p {
  font-size: 15.5px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.help-Box-Container-2 > button {
  font-size: 22px;
  padding: 7px 20px;
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(44, 75, 255);
  color: rgb(44, 75, 255);
  margin-top: 20px;
}
.marketing {
  text-align: center;
  margin: 80px 0;
  padding: 20px 0;
}
.marketing > p {
  font-size: 20px;
  font-weight: 600;
}
.marketing-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  align-items: center;
}
#facebook {
  width: 89px;
}
#print {
  width: 150px;
}
#linkeden {
  width: 150px;
}
.blueBackground {
  background-color: rgb(44, 75, 255);
  height: 500px;
  display: flex;
}
.blueContainer {
  width: 50%;
  margin: auto;
  text-align: center;
}
.blueContainer > h1 {
  font-size: 40px;
  color: white;
}
.blueContainer > button {
  padding: 20px 30px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: rgb(233, 114, 132);
}
.footer {
  margin-top: 150px;
  margin-bottom: 100px;
}
.footer-Outer-Container {
  width: 90%;

  margin: auto;
}
.footer-inner-container {
  width: 99%;

  margin: auto;
  display: flex;
}
.footer-box1 {
  width: 30%;
}
.footer-box1 > h1 {
  font-size: 50px;
  margin-top: 0;
}
.footer-box2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.social-media-icon {
  display: flex;
  gap: 15px;
}
.social-media-icon > i {
  width: 30px;
  height: 30px;
}
.box1-inner-container > p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.footer-btn {
  padding: 7px 20px;
  border: 1px solid rgb(44, 75, 255);
  background: none;
  border-radius: 20px;
  cursor: pointer;
}
.footer-btn > i {
  color: rgb(44, 75, 255);
  margin-right: 2px;
}
.footer-btn > span {
  font-size: 14px;
  color: rgb(44, 75, 255);
  margin-left: 2px;
  font-weight: 500;
}
.copyright {
  display: flex;
}
.copyright > p {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
.copyright > p > a {
  text-decoration: none;
  color: gray;
}
.footer-box2-content > p > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.footer-box2-content > p > a:hover {
  color: rgb(44, 75, 255);
}
#new_btn {
  border: none;
  background: rgb(136, 154, 255);
  padding: 2px 10px;
  border-radius: 20px;
  color: rgb(15, 48, 237);
  font-weight: 500;
}
